* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

:root {
  --color-1-1: hsl(257, 62%, 71%);
  --color-1-2: hsl(257, 62%, 66%);
  --color-1-3: hsl(257, 62%, 61%);
  --color-2-1: hsl(119, 100%, 90%);
  --color-2-2: hsl(119, 100%, 85%);
  --color-2-3: hsl(119, 100%, 80%);
  --color-3-1: hsl(182, 100%, 90%);
  --color-3-2: hsl(182, 100%, 85%);
  --color-3-3: hsl(182, 100%, 80%);

  --game-result-height: 0px;
}

.hidden.hidden {
  display: none;
}

body,
body > * {
  height: 100vh;
}

/******************** MODE SELECTION SCREEN ********************/

.select-mode-screen {
  display: flex;
}

.select-mode {
  flex: 1;
  border: none;
  font-size: 3rem;
}

.select-mode-pvc {
  color: white;
  background-color: var(--color-1-1);
}

.select-mode-pvc:hover {
  background-color: var(--color-1-2);
}

.select-mode-pvc:active {
  background-color: var(--color-1-3);
}

.select-mode-pvp {
  background-color: var(--color-2-1);
}

.select-mode-pvp:hover {
  background-color: var(--color-2-2);
}

.select-mode-pvp:active {
  background-color: var(--color-2-3);
}

/******************** GAME SCREEN ********************/

.game-screen {
  background-color: var(--color-3-1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.scoreboard {
  background-color: var(--color-1-1);
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  padding: 2.5rem;
  font-size: 2rem;
}

.scorecard {
  background-color: var(--color-3-1);
  padding: 0.5rem;
  display: flex;
}

.scorecard-name,
.scorecard-score {
  background-color: var(--color-2-1);
  padding: 0.5rem 1rem;
}

.game-board-background {
  align-self: center;
}

.game-board {
  z-index: 1;
  position: relative;
  background-color: var(--color-1-1);
  display: grid;
  grid-template-rows: repeat(3, 15vmin);
  grid-template-columns: repeat(3, 15vmin);
  /* margin-top: 2rem; */
  /* margin-inline: auto; */
  gap: 5px;
  padding: 5px;
}

.board-cell {
  border: none;
  background-color: var(--color-2-1);
  font-size: 5rem;
  font-weight: lighter;
  color: black;
}

.board-cell.empty:hover {
  background-color: var(--color-2-2);
}

.board-cell.empty:active {
  background-color: var(--color-2-3);
}

.win-cell {
  color: var(--color-1-3);
}

.game-result {
  background-color: var(--color-1-1);
  color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 20px;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  position: relative;
  top: var(--game-result-height);
}

.game-result-show {
  animation: 0.5s ease-in-out 1 normal slide-up;
  animation-fill-mode: forwards;
}

.game-result-hide {
  animation: 0.5s ease-in-out 1 normal slide-down;
}

@keyframes slide-up {
  0% {
    top: var(--game-result-height);
  }

  100% {
    top: 0px;
  }
}

@keyframes slide-down {
  0% {
    top: 0px;
  }

  100% {
    top: var(--game-result-height);
  }
}

.game-result-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.game-result-button {
  border: none;
  background-color: var(--color-2-1);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  width: 5rem;
  height: 2rem;
}

.game-result-button:hover {
  background-color: var(--color-2-2);
}

.game-result-button:active {
  background-color: var(--color-2-3);
}
